<li>
  <h3>{{route.value.name}}</h3>
  {{#if route.value.url}}
    <code>{{route.value.url}}</code>
  {{/if}}
  {{link-to 'Details' 'route' route}}
  {{route-children children=route.children isShowingSubStates=isShowingSubStates}}
</li>
