<li>
  <code><a href="http://emberjs.com/api/classes/Ember.Route.html#method_activate">{{route.value.name}} &rarr; activate()</a></code>
</li>
<li>
  <code><a href="http://emberjs.com/api/classes/Ember.Route.html#method_setupController">{{route.value.name}} &rarr; setupController()</a></code>
</li>
<li>
  <code><a href="http://emberjs.com/api/classes/Ember.Route.html#method_renderTemplate">{{route.value.name}} &rarr; renderTemplate()</a></code>
</li>
