<li>
  <code>App.{{route.value.routeHandler.className}}#activate()</code>
  <a href="http://emberjs.com/api/classes/Ember.Route.html#method_activate">info</a>
</li>
<li>
  <code>App.{{route.value.routeHandler.className}}#setupController()</code>
  <a href="http://emberjs.com/api/classes/Ember.Route.html#method_setupController">info</a>
</li>
<li>
  <code>App.{{route.value.routeHandler.className}}#renderTemplate()</code>
  <a href="http://emberjs.com/api/classes/Ember.Route.html#method_renderTemplate">info</a>
</li>
