<li>
  <code><a href="http://emberjs.com/api/classes/Ember.Route.html#method_activate">App.{{route.value.routeHandler.className}}#activate()</a></code>
</li>
<li>
  <code><a href="http://emberjs.com/api/classes/Ember.Route.html#method_setupController">App.{{route.value.routeHandler.className}}#setupController()</a></code>
</li>
<li>
  <code><a href="http://emberjs.com/api/classes/Ember.Route.html#method_renderTemplate">App.{{route.value.routeHandler.className}}#renderTemplate()</a></code>
</li>
