<li>
  <code><a href="http://emberjs.com/api/classes/Ember.Route.html#method_beforeModel">{{route.value.name}} &rarr; beforeModel()</a></code>
</li>
<li>
  <code><a href="http://emberjs.com/api/classes/Ember.Route.html#method_model">{{route.value.name}} &rarr; model()</a></code>
</li>
<li>
  <code><a href="http://emberjs.com/api/classes/Ember.Route.html#method_afterModel">{{route.value.name}} &rarr; afterModel()</a></code>
</li>
