<li>
  <code><a href="http://emberjs.com/api/classes/Ember.Route.html#method_beforeModel">App.{{route.value.routeHandler.className}}#beforeModel()</a></code>
</li>
<li>
  <code><a href="http://emberjs.com/api/classes/Ember.Route.html#method_model">App.{{route.value.routeHandler.className}}#model()</a></code>
</li>
<li>
  <code><a href="http://emberjs.com/api/classes/Ember.Route.html#method_afterModel">App.{{route.value.routeHandler.className}}#afterModel()</a></code>
</li>
